* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    overflow: hidden;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.wrapper {
    margin: auto;
}



    .card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 12px;
    max-width: 20rem;
    padding: 0.8rem;
    box-shadow: 0.3rem 0.3rem 0.7rem hsl(220, 15%, 80%);
    margin-right: 1rem;
    margin-left: 1rem;
}

img {
    border-radius: 12px;
    width: 100%;
    
}

h1 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    text-align: center;
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    text-align: center;
    margin: 5%;
}


.attribution { 
    font-size: 0.9rem; 
    text-align: center;
}
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }

    footer {
        position: sticky;
       margin: auto;
    }
       

