* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main {
    margin-top: 1.5rem;
    display: flex;
    flex-flow: column-wrap;
    justify-content: center;
    align-items: center;
   
}


    .card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 12px;
    max-width: 20rem;
    padding: 0.8rem;
    box-shadow: 0.3rem 0.3rem 0.7rem hsl(220, 15%, 80%);
    margin-right: 1rem;
    margin-left: 1rem;
}

img {
    border-radius: 12px;
    width: 100%;
    
}

h1 {
    color: hsl(218, 44%, 22%);
    text-align: center;
}

p {
    font-size: 1rem;
    color: hsl(220, 15%, 55%);
    text-align: center;
}


.attribution { 
    font-size: 0.9rem; 
    text-align: center;
}
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }

    footer {;
       margin-top: auto;
       
    }

